@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

img {
    height: 200px;
    width: 200px;
}

html {
    font-family: 'Indie Flower', cursive;
}

header {
    padding: 16px;
    border-bottom: solid black;
    background-color: #3D5A80;
}

body {
    margin: 0px;
}

main {
    background-color: #E0FBFC;
}

footer {
    border-top: solid black;
    background-color: #98C1D9;
    padding: 16px;
}

td {
    text-align: center;
    transition: all 0.6s;
}

table {
    table-layout: fixed;
    width: 100%;
}

th {
    color: #EE6C4D;
    border: 1px solid black;
    background-color: #3D5A80;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #EE6C4D;
}

td:hover {
    color: #EE6C4D;
    background-color: #98C1D9;
    box-shadow: 0px 0px 2px 1px gray;
}


.titles {
    margin: 0px;
    text-align: center;
}

.list_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.recipe_display {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.list_image {
    height: 200px;
    width: 200px;
    box-shadow: 3px 0px 8px 4px rgb(130, 130, 130);
    transition: all 1.6s;
}

.list_image:hover {
    rotate: 360deg;
    box-shadow: 0px 0px 10px 5px rgb(120, 120, 120);
}

.detail_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.detail_display {
    display: grid;
    padding: 10px;
}

.detail_image {
    padding-left: 30px;
}


#detail_soda_title {
    margin-bottom: 0px;
    padding-left: 45px;
}